



.app {
  display: flex;
}
.app .menu {
  width: 200px;
  border-right: 1px solid #ccc;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app .menu li {
  line-height: 40px;
}

.app .menu li a {
  color: #282c34;
}

.app .menu li a.active{
  color: coral;
}

.app .content {
  padding: 30px;
  flex: auto;
  min-height: 100vh;
}

