body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active{
  color: yellowgreen
}

html,body{
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #e3e2e2;
  border-radius: 6px;
}

.optimize li {
  list-style: normal;
  text-align: left;
}
